#Home{
    min-height: 80vh;
    /* background-image: url(); */
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
}
#MAR{
    color: rgb(0, 0, 0);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1;
    background-color: blueviolet;
    
}

.MAR1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 300;
    showCursor: false;
}

#features{
    display: flex;
    flex: 2;

}
